backend/node_modules/
.env
backend/uploads/*
!backend/uploads/.gitkeep


# frontend dependencies
frontend/node_modules/

# frontend Expo / Metro cache
frontend/.expo/
frontend/.expo-shared/

# frontend build outputs
frontend/dist/
frontend/build/
frontend/web-build/

# frontend logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# frontend OS files
frontend/.DS_Store
frontend/Thumbs.db


